.content {
    margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 70%;
    border-radius: 5px;
	padding: 20px;
    margin-top: 70px;
    height: 270px;
}

.content h1 {
    text-align: center;
    margin-bottom: 50px;
}