.contentMovie {
    margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 70%;
    border-radius: 5px;
	padding: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.contentMovie h1 {
    text-align: center;
    margin-bottom: 40px;
}

.contentMovie h2 {
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
    color: rgb(33, 91, 215);
}

.movie {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}